body{
    background-color:rgba(255, 228, 196, 0.616);
}
#Header a:hover{
    color: rgba(255, 81, 0, 0.952);

}
#bg-img{
    background: url('profile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;

}
#About{
    margin-top: -200px;

}
#About span{
    padding: 10px 20px 10px 20px;
}
#About hr{
    border-width: 4px;
    margin-top: 5px;
}
#index span{
    padding: 10px 20px 10px 20px;

}
#index hr{
    border-width: 4px;
    margin-top: 5px;

}
#contact span{
    padding: 10px 20px 10px 20px;
}
#contact hr{
    border-width: 4px;
    margin-top: 5px;
}

.responsive {
    width: 100%;
    height: auto;
  }